<h1> Attribute Directives </h1>
<h2> ngClass / ngStyle</h2>
<div [ngClass]="{border:false, background:true}"></div>
<div [ngStyle]="{'background-color':'red'}"></div>
<hr>
<h2> custom directives </h2>

<div [highlight] ="'blue'" [defaultColor]="'red'">Some Text</div>
<hr>
<h1> structural directive </h1>
<h2>*ngIf</h2>
<div *ngIf="switch"> conditional Text</div>
<template [ngIf]="switch">
    <div> 
        Conditinal text
        </div>
        </template>
<button (click)="onSwitch()">Switch</button>
<hr>
<h2> *ngFor</h2>
<ul>

<li *ngFor="let item of items;let i=index">{{item}}- (Index :{{i}})</li>
</ul>

<hr>
<h2> *ngswitch </h2>
<div [ngSwitch]="value">
    <p *ngSwitchCase="10">10 </p>
    <p *ngSwitchCase="100">100 </p>
    <p *ngSwitchDefault>10 </p>
    </div>
    <p [ngSwitch]="value">
        <template [ngSwitchCase]="10">10</template>
        <template [ngSwitchCase]="100">100</template>
        <template ngSwitchDefault>Default</template>
        </p>
        <h2> Unless directive </h2>
        <div *unless="switch"> Conditional text </div>
<br><br><br><br>
